/**
 * variables
 */
@import "./styles/layout.css";
@import "./styles/list.css";
@import "./styles/switch.css";
@import "./styles/rotate.css";

:root {
  --base-space: 4px;
  --primary-color: #6698ff;
}

body {
  margin: calc(var(--base-space) * 2) 0;
  width: 25rem;
  height: 320px;
  min-height: 320px;
}

ul {
  margin: 0;
  padding: 0;
}

.address {
  text-align: center;
  font-size: 14px;
  margin: 4px 0;
}

p a {
  color: var(--primary-color);
  text-decoration: none;
}

/**
 * common class
 */
p {
  margin: 0;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.mt-1 {
  margin-top: var(--base-space);
}

.mb-1 {
  margin-bottom: var(--base-space);
}

.mt-2 {
  margin-top: calc(var(--base-space) * 2);
}

.f-16 {
  font-size: 16px;
}

.f-500 {
  font-weight: 500;
}

.primary-color {
  color: var(--primary-color);
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 166px;
  }

  to {
    margin-left: 0%;
    width: 166px;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 166px;
  }

  to {
    margin-left: 0%;
    width: 166px;
  }
}

.warning {
  color: #ffcd5d;
  text-decoration: none;
  font-size: 16px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.desc {
  font-size: 14px;
  color: #718096;
}
